<form>
    <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" id="firstname" placeholder="First Name" [(ngModel)]="person.firstname">
    </div>
    <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" id="lastname" placeholder="Last Name" [(ngModel)]="person.lastname">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Email" [(ngModel)]="person.email">
    </div>
    <button type="button" class="btn btn-danger" [routerLink]="['/']">Cancel</button>
    <button type="button" class="btn btn-success" (click)="save()">Save</button>
</form>
